@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../resimler/adlıTasarım.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ust-menu{
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 15px;
    background-color: rgb(14, 47, 25);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ust-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 700px;
}

.ust-menu ul li {
    float: left;
}

.ust-menu ul li a {
    size: 15px;
    padding: 5px 15px;
    color: aqua;
    text-decoration: none;
    margin-right: 50px;
    border-radius: 5px;
    transition: 0.5;
    font-size: 18px;
    justify-content: space-between;
}

.ust-menu ul li a:hover {
    color: aquamarine;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
.muzikler {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
.icerik {
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 30px;
    background-color: rgb(14, 47, 25);
    margin-top: 70px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.icerik .gorsel1 {
    border-radius: 25px;
    max-width: 800px;
    height: auto;
    display: block;
}

.metin-kutusu h1 {
    opacity: 0;
    transform: translateY(100px);
    animation: slideUp 1.2s forwards ease-out 0.4s;
    color: white;
    font-family: "Poppins", sans-serif;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ayırıcı-çizgi1 {
    background-color: white;
    height: 3px;
    width: 500px;
    margin: 40px 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------*/

.icerik2 {
    border-radius: 50px;
    background-color: rgb(14, 47, 25);
    align-items: center;
    gap: 30px;
    padding: 15px;
    margin-right: 20px;
    margin-left: 20px;
    width: 70%;
    height: auto;
    margin: 40px auto;
    text-align: left;
}

.icerik2 h1{
    color: white;
    text-align: center;
    size: 35px;
}

.icerik2 p{
    color: white;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 18px;
}

.ayırıcı-çizgi2 {
    background-color: white;
    height: 3px;
    width: 800px;
    margin: 40px 0;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/

.oyunlar {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.oyunlar .java,
.oyunlar .dungeons,
.oyunlar .legends {
    display: block;
    border: 2px solid white;
} 

.oyunlar .metin-kartı {
    background-color: rgb(14, 47, 25);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    text-align: center;
    color: white;
}

.oyunlar .metin-kartı h3 {
    size: 12px;
}

.oyunlar .metin-kartı p {
    margin: 0;
}

.oyunlar .metin-kartı a {
    text-decoration: none;
    color: rgb(15, 160, 70);
}

.oyunlar .kart-metin-alani h3,
.oyunlar .kart-metin-alani p {
    margin: 0;
    padding: 0;
}



/*-----------------------------------------------------------------------------------------------------------------------------------*/


.tablolar {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
    align-items: center;
}


.tablolar .speedrun table {
    margin-bottom: 100px;
    margin-right: auto;
    background-color: rgb(44, 82, 38);
    color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 200px;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

.tablolar .speedrun table #İlkSatır {
    background-color: rgb(55, 102, 47);
}

.tablolar .speedrun table #İlkSatır th {
    margin-right: 5px;
    border-radius: 5px;
    padding: 0px 10px;
}

.tablolar .surumler table{
    background-color: rgb(44, 82, 38);
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    margin-left: 100px;
}

.tablolar .surumler #baslik {
    background-color: rgb(55, 102, 47);
}

.tablolar .surumler #baslik th {
    margin-right: 5px;
    border-radius: 5px;
    padding: 0px 10px;
}


/*-----------------------------------------------------------------------------------------------------------------------------*/

.alt {
    background-color: black;
    display: flex;
    justify-content: left;
}

.alt .sol {
    display: grid;
    margin-left: 50px;
    margin-right: 400px;
}

.alt .sol img {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 10px;
}

.alt .orta {
    margin-top: 50px;
}

.alt .orta h4 {
    font-size: 25px;
    color: white;
}

.alt .orta ul li {
    list-style-type: none;
}

.alt .orta ul li {
    color: white;
}

.alt .orta ul li a {
    text-decoration: none;
    color: #a0e081;
}

.alt .sag img {
    margin-left: 150px;
}

.alt .sag p{
    color: white;
    margin-left: 250px;
    margin-top: 50px;
}

.alt .sag a{
    text-decoration: none;
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*Teşekkür Ederiz .html*/
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

.tesekkur img{
    width: 100%;
    height: auto;
    display: block;
}