body {
    background-image: url(../resimler/Adsız\ tasarım.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
}

.ust-menu{
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 15px;
    background-color: rgb(14, 47, 25);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ust-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 700px;
}

.ust-menu ul li {
    float: left;
}

.ust-menu ul li a {
    size: 15px;
    padding: 5px 15px;
    color: aqua;
    text-decoration: none;
    margin-right: 50px;
    border-radius: 5px;
    transition: 0.5;
    font-size: 18px;
    justify-content: space-between;
}

.ust-menu ul li a:hover {
    color: aquamarine;
}

/*-------------------------------------------Seed 1-----------------------------------------------------*/

.seed1 {
    display: flex;
    color: white;
    border-radius: 15px;
    background-color: rgb(14, 47, 25);
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 20px 20px;

}

.seed1 img {
    border-radius: 15px;
}

.seed1 .seed1Yazılar h1{
    margin-left: 250px;
}

.seed1 .seed1Yazılar p{
    margin-left: 50px;
}

.seed1 .seed1Yazılar img {
    border-radius: 15px;
    margin-left: 210px;
}

/*-------------------------------------------Seed 2-----------------------------------------------------*/

.seed2 {
    display: flex;
    color: white;
    border-radius: 15px;
    background-color: rgb(14, 47, 25);
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 20px 20px;
}

.seed2 img{
    border-radius: 15px;
}

.seed2 .seed2Yazılar h1{
    margin-left: 250px;
}

.seed2 .seed2Yazılar p{
    margin-left: 50px;
}

.seed2 .seed2Yazılar img {
    border-radius: 15px;
    margin-left: 210px;
}

/*-------------------------------------------Seed 3-----------------------------------------------------*/

.seed3 {
    display: flex;
    color: white;
    border-radius: 15px;
    background-color: rgb(14, 47, 25);
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 20px 20px;
}

.seed3 img{
    border-radius: 15px;
}

.seed3 .seed3Yazılar h1{
    margin-left: 250px;
}

.seed3 .seed3Yazılar p{
    margin-left: 50px;
}

.seed3 .seed3Yazılar img {
    border-radius: 15px;
    margin-left: 210px;
}

/*-------------------------------------------Seed 4-----------------------------------------------------*/

.seed4 {
    display: flex;
    color: white;
    border-radius: 15px;
    background-color: rgb(14, 47, 25);
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 20px 20px;
}

.seed4 img{
    border-radius: 15px;
}

.seed4.seed4Yazılar h1{
    margin-left: 250px;
}

.seed4 .seed4Yazılar p{
    margin-left: 50px;
}

.seed4 .seed4Yazılar img {
    border-radius: 15px;
    margin-left: 210px;
}



/*------------------------------------------------Alt Bölüm---------------------------------------------------*/

.alt {
    margin-top: 50px;
    background-color: black;
    display: flex;
    justify-content: left;
}

.alt .sol {
    display: grid;
    margin-left: 50px;
    margin-right: 400px;
}

.alt .sol img {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 10px;
}

.alt .orta {
    margin-top: 50px;
}

.alt .orta h4 {
    font-size: 25px;
    color: white;
}

.alt .orta ul li {
    list-style-type: none;
}

.alt .orta ul li a {
    text-decoration: none;
    color: #a0e081;
}

.alt .sag img {
    margin-left: 150px;
}

.alt .sag p{
    color: white;
    margin-left: 250px;
    margin-top: 50px;
}

.alt .sag a{
    text-decoration: none;
}